<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>snpDebugRegion</Title>
			<Shortcut>snpDebugRegion</Shortcut>
			<Description>Snippet for a standard C# DEBUG #if block.</Description>
			<Author>Clark Morse</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
			<![CDATA[#if DEBUG
			$end$
			#endif // DEBUG]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>